%header
  %h1 Basketball Blog
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
  %body
    .w3-container
      .w3-bar.w3-black
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/"} Home
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/basketball"} Basketball Players
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/"} LInk
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/"} Link 3
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/"} Link 3
        %a.w3-bar-item.w3-button.w3-mobile{:href => "/"} Contact Us
