.container
  .row
    .col-sm-4
      %h1 Check out our teams!
      %p Go into our teams page to check out the participating teams!
    .col-sm-4
      %h1 Basketball League
      %p Where amazing happens
    .col-sm-4
      %h1 Check out our future matches!
      %p Head to our fixtures page to see!

  %a.increase +
  %a.decrease -
  %a.reset reset
