.container
  .row
    .col-sm-4
      %h1 Check out the Players forum!
    .col-sm-4
      %h1 Welcome!
      %p This is a social news platform that allows users to discuss and vote on content that other users have submitted.
    .col-sm-4
      %h1 Discuss with other people!

  %a.increase +
  %a.decrease -
  %a.reset reset
